# General directories to ignore
lipid_platform/old/*
lipid_platform/.ipynb_checkpoints/*
lipid_platform/Projects/DTRA*
lipid_platform/Projects/ELOVL1*
lipid_platform/Projects/Burda_lab*
lipid_platform/Projects/BRAIN_LIVER_LD*
lipid_platform/Projects/BRAIN_5xFAD_OLDER_DATA_FOR_PAPER*
lipid_platform/Projects/Brain_5xFAD*
lipid_platform/Projects/FaceFats/*
lipid_platform/Projects/04_29_23/*
lipid_platform/Projects/Caitlin_paper/*
lipid_platform/Projects/AMP/*

# Specific large CSV files to ignore
lipid_platform/Projects/FaceFats/dfs/OzESI/oz_matched/Combined_FF_OzMatched.csv
lipid_platform/FF_OzOFF_full.csv
lipid_platform/Projects/FaceFats/dfs/OzESI/FaceFatsOzdf.csv
lipid_platform/Projects/AMP/data/AMP_OzON.csv # adjusted to the main file without 'copy'
lipid_platform/Projects/AMP/results/AMP_OzON_d7b.csv
lipid_platform/Projects/AMP/results/GMM_results/AMP_GMM.csv
lipid_platform/FF_OzMatched_full.csv

# Ignore all CSV files in specific directories
DEMO2/*.csv
DEMO/*.csv
Worklist_Generator/*.csv
Make_PCA_EDGER_comparison/*.csv
Pathway_analysis/*.csv
lipid_platform/*.csv

# Additional files and directories to ignore
ignore/
*.pyc
*.html
*.svg
*/.ipynb_checkpoints/*
