.btn-no-js { display: block; }
.js-enabled .btn-no-js { display: none; }
.tile-list, .button-list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 0.5rem;
    padding: 0 0.5rem 1rem;
}
.tile-list .tile {
    border: 1px solid #BBB;
}
.button-list .button input[type=checkbox], .button-list .button input[type=radio] {
    display: none;
}
.button-list .button label {
    width: 100%;
    background-color: #315da5;
    border: 2px solid #315da5;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    user-select: none;
}
.button-list .button input:checked + label {
    background-color: #111;
    border-color: white;
}
.button-list .button:hover label {
    background-color: #7484bc;
    border-color: #7484bc;
}
.tile .card-img-div {
    height: 200px;
    width: 100%;
    background-color: #fff;
}
.tile.tall .card-img-div {
    height: 250px;
}
.tile .title {
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
    font-size: 0.9rem;
}
.tile .filter, .tile .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.tile .filter {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.25), rgba(0,0,0,0.6), rgba(0,0,0,0.8), rgba(0,0,0,1));
}
.tile .overlay {
    bottom: 2.75rem;
    background: rgba(0,0,0,0.95);
    visibility: hidden;
    z-index: 50;
    color: #fff;
    font-size: 0.9rem;
    overflow-y: auto;
}
.tile.overlayed .overlay {
    visibility: visible;
}
.tile .card-body {
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tile .card-footer {
    visibility: visible;
    z-index: 60;
    height: 2.75rem;
    font-size: 0.95rem;
}

@media (min-width: 768px) {
    .tile-list, .button-list {
        padding: 0 0 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .tile-list, .button-list {
        padding: 0;
    }
    .tile .card-img-div {
        height: 150px;
    }
    .tile.tall .card-img-div {
        height: 200px;
    }
    .tile:hover .overlay {
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .tile-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .button-list {
        grid-template-columns: repeat(4, 1fr);
    }
}